<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NotiChart Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    {% load staticfiles %}
  </head>
  <body>
    <div class="row">
      <div style="height:50px" class="col s1 purple lighten-3">
      </div>
      <div style="height:50px" class="col s7 purple lighten-3">
        <div>
          <h5>NotiChart</h5>
        </div>
      </div>
      <div style="height:50px" class="col s4 purple lighten-3 center-align">
        <br>

      </div>
    </div>

    <div class="row">
      <div style="font-size:13px"class="col s1">
        <li><a href="/admin/">Admin Login</a></li>
        <li></li>
        <li></li>
        <li></li>

      </div>
      <div class="col s5">
        <div class="col s12 purple lighten-5">
         <h5 style="font-weight:bold">Calendar</h5>
        </div>

        {% for note in notes %}

        <div class="card blue-grey lighten-3 col s5">

                <div style="font-size:14px" class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p >I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
        </div>
        {% if forloop.counter0|divisibleby:2 %}
        <div class="col s2">
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div style="border-right: 3px solid #F3E7F5;"  class="col s3">
        <table>
          <thead>
            <tr style="background-color:#F3E7F5">
              <th>Latest Chapters</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for entry in entries %}
            <tr>
              <td><a href="{{entry.link}}"></a>{{entry.title}}</td>
              <td><a href="{{entry.link}}"> <img src={% static "book.png" %} alt="{{entry.title}}" style = "height:20px; width:20px"> </a></td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      <div class="col s0.5">

      </div>
      <div class="col s2">
      <ul class="collection-with-header left-align">
        <li class="collection-header"> <h6>Reminders</h6> </li>
        {% for note in notes %}
        <li style="list-style-type: circle;"class="collection-item">
        {{note.body}} due in {{note.days_left}}
        </li>
        {% endfor %}
        <br>
        <form method="POST">
          {%csrf_token%}
          <input style="width:250px" type="text"
          name="{{form.body.name}}">
          <br>
          <input style="width:200px" type="date" name="{{form.due_date.name}}">
          <br>
          <button type="submit">Add note</button>
        </form>

      </div>

      </ul>

    </div>

  </body>
</html>
