<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NotiChart Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    {% load staticfiles %}
  </head>
  <body>
    <div class="row">
      <div style="height:50px;" class="col s12 purple lighten-3 center-align">
        <h5>NotiChart</h5>
      </div>
      <!-- <div style="height:50px" class="col s1 purple lighten-3">
      </div>
      <div style="height:50px" class="col s7 purple lighten-3">
        <div>
          <h5>NotiChart</h5>
        </div>
      </div>
      <div style="height:50px" class="col s4 purple lighten-3 center-align">
        <br>

      </div> -->
    </div>
    {% block content %}

    {% endblock %}

  </body>
